[alias]
    # svn like aliases
    st = status
    s = status -sb
    ls = ls-files
    # quick and dirty push/pull to origin
    put = push origin master
    pul = pull --rebase origin master
    # oops
    fix = commit --amend -C HEAD
    #undopush = push -f origin HEAD^:master
    # where am i?
    marco = branch --merged
    polo = branch -a
    # Open ended commands
    ci = commit -m
    co = checkout
    br = branch
    # fast commit
    cm = commit -m
    cam = commit -a -m
    # fast log
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -n
    hist = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
    # fast branch (create)
    go = checkout -B
    wt = worktree

[apply]
    # Detect whitespace erres when applying a patch
    whitespace = fix
[core]
    # use custom .gitignore and .gitattributes
    excludesfile = ~/.config/git/.gitignore
    attributiesfile = ~/.config/git/.gitattributes
    editor = emacs -nw
    pager = diff-so-fancy | less --tabs=4 -RFX

[color]
    # use colors in commands capable of colored output
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[merge]
    # include summaries of merged commits in newly created merge commit messages
    log = true
    tool = opendiff
[mergetool]
    keepBackup = true
[branch]
    sort = -committerdate

# Use 'origin' as the default remote on the 'main' branch in all cases
[branch "main"]
    remote = origin
    merge = refs/heads/main

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[hub]
    protocol = ssh
[pull]
    rebase = True
[init]
    defaultBranch = main
