alias em="emacs -nw"
alias emw="emacs"

# interactive
alias cp="cp -i"
alias mv="mv -i"
alias rm="rm -i"

# navigation
alias la="ls -AFhl"
alias cdp="cd -P"
alias marco="hostname -s | tr '\n' ' ' ; pwd"
alias polo="cd -P ."
alias cd..="cd .."
alias ..="cd .."
alias ...="cd ../.."
alias -- -="cd -"

# shortcuts
alias g="git"
alias gits="git s"
alias o="open"
alias oo="open ."

# enable aliases to be sudo'ed
alias sudo='sudo '

# "t" task manager
alias t='python /usr/local/t/t.py --task-dir ~/tasks --list tasks'
alias upe='python /usr/local/t/t.py --task-dir ~/Desktop/upe --list upe-todo'

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume 10'"
alias hax="growlnotify -a 'Activity Monitor' 'System error' -m 'WTF R U DOIN'"

alias checkjob="/collab/usr/global/tools/bin/slurm_jobinfo.py --jobid"
