# cd, then la
if [[ $- == *i* ]]; then 
    ca() {
         builtin cd "$@" && la
    }
fi

# Create a new directory and enter it
function md() {
         mkdir -p "$@" && cd "$@"
}

# Use Git’s colored diff when available
hash git &>/dev/null
if [ $? -eq 0 ]; then
   function diff() {
            git diff --no-index --color-words "$@"
            }
fi

# Move something, then follow it
function fl() {
         mv $1 $2
         cd $2
}